.delete_form {
    display: inline;
}

.hr_hide {
    opacity: 0;
    box-sizing: border-box;
    max-height: 5px;
}

/*.container {*/
/*    padding-left: 0;*/
/*    padding-right: 0;*/
/*}*/

/*.card-img-top {*/
/*    max-height: 500px;*/
/*}*/
