<% include partials/header %>
    <h1>Add new campground.</h1>
    <form action="/campground", method="POST">
        <input type="tetx", name="name", placeholder="name"></input>
        <input type="tetx", name="image", placeholder="image url"></input>
        <button>Submit</button>
    </form>
<% include partials/footer %>